@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

/* Global properties for typography */

h2,
h3 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 8px;
}

h3 {
  font-size: 2em;
}

p {
  color: #616161;
  letter-spacing: 1px;
}

/* Area containing the logo and the navbar */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: absolute;
  opacity: 1;
  z-index: 1;
  margin-bottom: 2em;
}

/* Logo and navigation bar */

#logo {
  font-family: "Roboto", sans-serif;
  letter-spacing: 6px;
  font-size: 280%;
  display: flex;
  justify-content: center;
  margin-left: 100px;
  padding: 0 10px;
  color: white;
  border: 1px solid white;
  border-top: none;
}

#menu {
  display: flex;
  justify-content: center;
  margin-right: 100px;
}

#menu ul {
  list-style-type: none;
}

.nav-link {
  display: inline-block;
  margin: 0 0 0 100px;
  transition: transform 0.2s ease;
}

.nav-link:hover {
  transform: scale(1.1);
}

.nav-link a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 110%;
  letter-spacing: 4px;
  color: white;
  transition: transform 0.2s ease;
}

.nav-link a:hover {
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}

/* Main section area */

#home {
  height: 100vh;
  width: 100%;
  position: relative;
}

/* Top background image area */

.hero-bg {
  background-image: url(../images/hero-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 48%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

/* Adds a black overlay to the hero image */

.hero-bg::before,
.hero-bg::after {
  content: "";
  background: black;
  position: absolute;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

#cover-text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

#cover-text > h2 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 10px;
  font-size: 200%;
  text-transform: uppercase;
  text-align: center;
  width: 600px;
  line-height: 1.5em;
}

#cover-text .btn {
  color: white;
}

/* This buttons takes you to a small section
of photos on the home page */

.btn {
  margin-top: 40px;
  padding: 15px 50px;
  text-align: center;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  transition: transform 0.3s;
}

.btn a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.btn a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* A short info section on the home page */

.info {
  display: flex;
  justify-content: center;
  margin-top: 3.5em;
  text-align: center;
  width: 100%;
}

.info-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.8em;
  width: 700px;
  letter-spacing: 1px;
  margin: 2em 0;
}

.info-text h2 {
  width: 500px;
}

.info-text h2,
.info-text h3 {
  padding-bottom: 25px;
}

/* This is the container for the categories on the home page */

.container {
  width: 100%;
  height: 250px;
  color: white;
  background-size: cover;
  background-position: center center;
  background-size: cover;
  position: relative;
  transition: transform 1s ease-in-out;
}

.container h3,
.container p {
  color: white;
  z-index: 1;
  font-size: 1.4em;
}

.container h3 {
  text-transform: uppercase;
  padding-bottom: 15px;
}

.container p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container a {
  z-index: 3;
  color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out;
}

.container a:hover {
  transform: scale(1.2);
}

/* Adds a black overlay to categories section */

.container::before,
.container::after {
  content: "";
  background: black;
  position: absolute;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

/* Hides overflow and zooms in on hover */

.animate-container {
  width: 33.3333333333%;
  width: 100%;
  overflow: hidden;
}

.container:hover {
  transform: scale(1.1);
}

.options {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* Background images for photo category */

.wedding {
  background-image: url(../images/wedding-bg.jpeg);
}

.nature {
  background-image: url(../images/nature-bg.jpeg);
}

.city {
  background-image: url(../images/city-bg.jpeg);
}

/* Index photos section */

#our-work {
  margin: 0 auto;
  text-align: center;
}

.work-text {
  display: inline-block;
  margin: 3em;
}

.work-text span {
  font-family: "Roboto", sans-serif;
}

.work-text h3 {
  text-transform: uppercase;
  position: relative;
}

.work-text h3::before {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  background: #000;
  position: absolute;
  left: 15%;
  top: 50%;
  z-index: -2;
  opacity: 0.5;
}

.work-text h3::after {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  background: #000;
  position: absolute;
  right: 15%;
  top: 50%;
  z-index: -2;
  opacity: 0.5;
}

.work-text p {
  margin: 30px 0;
}

span {
  background-color: #fff;
}

/* Index page photos area */

.photos img,
.gallery-container img {
  box-shadow: 1px 0px 10px #929292;
  transition: transform 0.4s ease, box-shadow 0.5s ease;
}

.photos img:hover,
.gallery-container img:hover {
  transform: scale(1.02);
  box-shadow: 1px 10px 20px #bdbdbd;
  cursor: pointer;
}

/* Video section with youtube links */

.videos {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  flex-direction: row;
  margin-bottom: 10em;
}

.videos h3 {
  margin-top: 3em;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.video-player {
  width: 680px;
  height: 414px;
}

.video-player iframe {
  width: 100%;
  height: 100%;
}

/* Section for getting working together */

.work-request {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 0;
  font-size: 0.8em;
  background-color: rgb(19, 18, 18);
  color: white;
}

.work-request h3 {
  text-transform: uppercase;
}

.work-request p {
  margin-top: 1em;
  color: rgb(204, 204, 204);
}

.request-btn {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  width: 200px;
  height: 60px;
  margin-bottom: 3em;
  font-size: 20px;
  text-transform: uppercase;
  transition: border 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.request-btn:hover {
  color: #d3d3d3;
  border: 1px solid #d3d3d3;
}

/* Footer area */

.main-footer {
  height: 70px;
  background-color: rgb(255, 255, 255);
  display: flex;
  font-size: 250%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main-footer a {
  text-decoration: none;
  color: black;
  margin: 0 60px;
  transition: transform 0.5s ease;
}

.main-footer a:hover {
  transform: scale(1.1);
}

.gallery-footer {
  background-color: black;
  color: white;
  height: 70px;
  background-color: rgb(255, 255, 255);
  display: flex;
  font-size: 250%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.gallery-footer a {
  color: white;
}

.contact-footer {
  width: 100%;
  padding-bottom: 3em;
  z-index: 2;
}

/* Contact page */

#contact-page {
  height: 100vh;
  width: 100%;
}

#contact-page h2 {
  color: white;
  z-index: 2;
  padding-bottom: 50px;
}

/* Submit form */

.form-bg {
  height: 100vh;
  width: 100%;
  background-image: url(../images/form-bg.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.form-bg::before,
.form-bg::after {
  content: "";
  background: black;
  position: absolute;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.form {
  height: 800px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.39);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5%;
  z-index: 2;
}

.form form {
  display: flex;
  flex-direction: column;
  z-index: 2;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.form label {
  margin-bottom: 10px;
}

.form input {
  width: 400px;
  height: 30px;
  margin-bottom: 3em;
  background: rgba(255, 255, 255, 0.39);
  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: 0 10px;
  font-weight: bold;
  color: white;
}

#submit-button {
  width: 150px;
  font-family: "Robot", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  color: white;
}

/* Wedding gallery section */

.gallery-header {
  background-color: rgb(19, 18, 18);
  padding-bottom: 10px;
  position: static;
}

#wedding-section,
#nature-section,
#city-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

#wedding-section h2,
#nature-section h2,
#city-section h2 {
  text-transform: uppercase;
  font-size: 260%;
  padding: 40px 0;
  /* margin-bottom: 70px; */
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(10px, 1fr));
  grid-template-rows: repeat(4, 10vw);
  grid-gap: 16px;
  padding-bottom: 4em;
  /* min-height: 100vh; */
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.img-2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.img-3 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
.img-4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.img-5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.img-6 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.img-7 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.img-8 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.img-9 {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.img-10 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.img-11 {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.img-12 {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

/* Media queries for screens smaller than 2330px */

@media screen and (max-width: 2330px) {
  #logo {
    font-size: 220%;
  }

  .nav-link a {
    font-size: 100%;
  }

  #cover-text > h2 {
    font-size: 170%;
  }

  .video-player {
    width: 476px;
    height: 312px;
  }

  .photos {
    width: 100%;
    margin: 0 auto;
  }

  .videos h3 {
    font-size: 100%;
  }

  .videos p {
    width: min(500px, 70%);
  }
}

/* Media queries for screens smaller than 1740px */

@media screen and (max-width: 1740px) {
  #logo {
    font-size: 200%;
  }

  .nav-link a {
    font-size: 90%;
  }

  .video-player {
    width: 340px;
    height: 180px;
  }

  .videos h3 {
    font-size: 100%;
  }

  .videos p {
    width: min(500px, 70%);
  }
}

/* Smaller pc screen sizes */

@media screen and (max-width: 1520px) {
  #logo {
    font-size: 150%;
  }

  .hero-bg {
    height: 40%;
  }

  #cover-text h2,
  #cover-text p {
    font-size: 100%;
  }

  #cover-text .btn {
    padding: 5px 20px;
  }
  #cover-text a {
    font-size: 100%;
  }

  .container {
    height: 150px;
    font-size: 70%;
  }

  .nav-link a {
    font-size: 80%;
  }

  .video-player {
    width: 800px;
    height: 480px;
  }

  .videos {
    flex-direction: column;
  }

  .videos h3 {
    font-size: 100%;
  }

  .videos p {
    width: min(500px, 70%);
  }

  #wedding-section h2,
  #nature-section h2,
  #city-section h2 {
    font-size: 120%;
  }
  .gallery-container {
    margin: 0 auto;
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 10vw);
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .img-2 {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
  }

  .img-3 {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
  }
  .img-4 {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
  }
  .img-5 {
    grid-column: 1 / 3;
    grid-row: 5 / 7;
  }

  .img-6 {
    grid-column: 3 / 5;
    grid-row: 5 / 7;
  }

  .img-7 {
    grid-column: 1 / 3;
    grid-row: 7 / 9;
  }

  .img-8 {
    grid-column: 3 / 5;
    grid-row: 7 / 9;
  }

  .img-9 {
    grid-column: 1 / 3;
    grid-row: 9 / 11;
  }

  .img-10 {
    grid-column: 3 / 5;
    grid-row: 9 / 11;
  }

  .img-11 {
    grid-column: 1 / 3;
    grid-row: 11 / 13;
  }

  .img-12 {
    grid-column: 3 / 5;
    grid-row: 11 / 13;
  }
}

/* Ipad screen sizes and smaller */
@media screen and (max-width: 1024px) {
  #cover-text {
    margin-top: 5em;
  }

  .options {
    height: 23em;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .container a:hover,
  .container:hover {
    transform: none;
  }

  #wedding-section,
  #nature-section,
  #city-section {
    font-size: 100%;
    padding-bottom: 5em;
  }

  #home .info-text {
    margin-top: 0;
  }

  #home .info-text h2 {
    width: 80%;
    font-size: 1.1em;
  }

  #home .info-text {
    width: 80%;
    font-size: 0.8em;
  }

  .video {
    width: 100%;
  }

  .video-player {
    width: 70%;
    height: 300px;
  }

  /* Contact form for ipads */

  .form {
    height: 500px;
  }

  .form input {
    height: 50px;
  }

  .form label {
    margin: 0;
  }

  .submit {
    width: 200px;
    font-size: 1em;
    color: white;
  }

  .form .btn:hover,
  a:hover {
    transition: none;
    transform: none;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .hero-bg {
    height: 30vh;
  }

  #logo {
    margin: 0;
  }

  #menu {
    margin: 3em 0 0 0;
    padding: 0;
    width: 100%;
  }

  #menu ul {
    justify-content: space-evenly;
    display: flex;
    width: 100%;
  }

  .nav-link {
    margin: 0;
  }

  #cover-text {
    margin-top: 5em;
  }

  .options {
    display: flex;
    flex-direction: column;
  }

  .photos {
    width: 100%;
  }

  .video-player {
    width: 340px;
    height: 214px;
  }
}

@media screen and (max-width: 594px) {
  #cover-text {
    display: none;
  }

  #logo {
    font-size: 1rem;
  }

  #menu ul {
    align-items: center;
    flex-direction: column;
  }

  .nav-link {
    margin-bottom: 20px;
  }

  #home .info-text {
    margin-top: 0;
    width: 90%;
    font-size: 0.8em;
  }

  #home .info-text h2 {
    width: 90%;
    font-size: 1.1em;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    height: 8em;
    margin-top: 5px;
  }

  .info-text {
    width: 300px;
  }

  .main-footer {
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-wrap: wrap;
    font-size: 3em;
  }
}

@media screen and (max-width: 414px) {
  .info {
    margin-top: 2em;
  }

  .form {
    padding-bottom: 1em;
    margin-top: 30vh;
    margin-bottom: 10em;
    height: 750px;
    width: 100%;
  }
  .form input {
    width: 100%;
    margin: 0;
  }
  .form label {
    margin-top: 5px;
  }
  .main-footer {
    height: 120px;
  }

  #submit-button {
    margin-top: 2em;
  }
}

@media screen and (max-width: 414px), screen and (max-height: 736px) {
  .form {
    padding-bottom: 1em;
    margin-top: 55vh;
    margin-bottom: 10em;
    height: 600px;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  #cover-text h2 {
    margin-left: 12em;
    width: 20%;
    font-size: 70%;
  }

  #home .info-text {
    margin-top: 0;
    width: 90%;
    font-size: 0.8em;
  }

  #home .info-text h2 {
    width: 90%;
    font-size: 1.1em;
  }

  .options {
    height: 240px;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    height: 8em;
    margin-top: 5px;
    font-size: 60%;
  }

  .work-text {
    font-size: 0.9em;
    width: 80%;
    padding-top: 0;
  }

  .video {
    width: 100%;
  }

  .video-player {
    width: 340px;
    height: 214px;
  }

  .info-text {
    width: 100%;
  }

  .main-footer a {
    font-size: 1em;
  }
}
